.container{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  height: 700px;
  background: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  margin-bottom: 0px;
  width: 100%;
}

.logo {
  width: 300px;
  margin: 0 auto;
}

.description {
  color:#fff;
  margin: 20px auto;
  text-align:center;
  width: 400px;
  font-family: 'Crimson Text', serif;
}
.Happy {
  margin: 10px auto;
  height: 84px;
  padding: 44px;
  text-align:center;
  font-family: 'Crimson Text', serif;
  background: #ffffff;
  background-size: cover;
}
.Party {
  margin: 20px auto;
  height: 95px;
  padding: 37px;
  text-align:center;
  font-family: 'Crimson Text', serif;
  background: #F15A29;
  background-size: cover;
}
.bg{
  padding: 0px;
}
.imgbreakfast{
  background: url("../assets/foodtop/breakfast.jpg");
  padding: 105px;
  margin: 0px;
  margin-bottom: auto;
}
.imgbreakfast{
  background-color: #fff;
  border: 1px solid black;
  height: 210px;
  color: #fff;
  text-align: center;
}
.imgbreakfast p{
  position: relative;
  top: 105px;
}
.imgbreakfast:hover{
  opacity: 0.9;
  cursor: pointer;
}
.imglunch{
  background: url("../assets/foodtop/dinner.jpg");
  padding: 105px;
  margin: 0px;
}
.imglunch{
  background-color: #fff;
  border: 1px solid black;
  height: 210px;
  color: #fff;
  text-align: center;
}
.imglunch p{
  position: relative;
  top: 105px;
}
.imglunch:hover{
  opacity: 0.9;
  cursor: pointer;
}
.imgdinner{
  background: url("../assets/foodtop/dinner2.jpg");
  padding: 105px;
  margin: 0px;
}

.imgdinner{
  background-color: #fff;
  border: 1px solid black;
  height: 210px;
  color: #fff;
  text-align: center;
}

.imgdinner p{
  position: relative;
  top: 105px;
}

.imgdinner:hover{
  opacity: 0.9;
  cursor: pointer;
}

.imgfastfood1{
  padding: 105px;
  margin: 0px;
}
.imgfastfood2{
  padding: 105px;
  margin: 0px;
}
.bigcontainer{
  width: 85%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
  font-size: 20px;
}
.drinks{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}
.imgfood{
  width: 92%;
  border: 1px solid black;
  margin: 10 auto;
  padding: 30px 10px;
}
.food_description{
    width: 92%;
    border: 1px;
    margin: 10 auto;
    padding: 20px 10px;
}
.imgdrinks{
  width: 92%;
  border: 1px solid black;
  margin: 30 auto;
  padding: 17px  8px;
}
.drinks_description{
    width: 92%;
    border: 1px;
    margin: 10 auto;
    padding: 20px 10px;
}
.blackcontainer{
  height: 600px;
  padding-top: 120px;
  padding-left: 150px;
  padding-right: 150px;
  background: url("../assets/backgrounds/foodsBg.jpg");
  background-image: cover;
  margin-bottom: 0px;
}
.whitecontainer{
  background-color: #ffffff;
  height: 350px;
  padding: 1.5%;
  padding-right: 5%;
  width: 100%;
}
.customernmenu{
  padding: 5%;
}
.footer {
  padding-top: 10%;
  margin: 0px auto;
  height: 300px;
  width: 100%;
  text-align:center;
  font-family: 'Crimson Text', serif;
  background: #F15A29;
  background-size: cover;
}
.subscribe{
    text-align: center;
    background: url("../assets/backgrounds/subscribe.jpg");
    padding: 105px;
    margin: 0px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(241,90,41);
    background-color: rgba(241,90,41, 1);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
