.container{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  height: 700px;
  background: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
}

.logo {
  width: 300px;
  margin: 0 auto;
}

.description {
  color:#fff;
  margin: 20px auto;
  text-align:center;
  width: 400px;
  font-family: 'Crimson Text', serif;
}
